.root {
  position: relative;
}
.input {
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 12px 15px;
  width: 230px;
  border-radius: 10px;
  font-size: 16px;
  padding-left: 44px;
}

.icon {
  width: 24px;
  height: 24px;
  opacity: 0.33;
  position: absolute;
  left: 12px;
  top: 12px;
}

.clearIcon {
  width: 20px;
  height: 20px;
  opacity: 0.3;
  position: absolute;
  right: 12px;
  top: 15px;

  &:hover {
    opacity: 0.8;
    cursor: pointer;
  }
}
